<% include ../partials/header %>

<header>
    <img src="/images/NewHeader.jpg">
</header>

<div class="container content-justify-center mt-5">
    <img src="/images/NewIconS.jpg" class="img-thumbnail" alt="Fonagy Designs Icon" id="index-thumb">
    <h1>Welcome to Fonagy Designs, LLC</h1>
    <p>
        Fonagy Designs, LLC, founded in 2019, has its headquarters located in Columbus, OH. The company develops and markets full stack web development, graphic design, logo design, branding development, social media marketing & SEO, print (business cards, postcards, and brochures), and also focuses on animation and media.
    </p>
</div>

<div class="indexImg-1"></div>

<div class="container content-justify-center mt-5">
    <h1>Designs for You</h1>
    <p>
        Our mission is to ensure the best relationship with our clients, both during and after their goals have been met. We strive to meet our customer's high standards with every custom project we create. We keep this in mind whether designing print media, producing multimedia content, or developing any level of web services.
    </p>
</div>

<div class="indexImg-2"></div>

<div class="container content-justify-center mt-5">
    <h1>Updates</h1>
    <ul class="updates">
        <li>
            <p>
                3/18/2019 - Site currently under development. Pages are still under construction.
            </p>
        </li>
    </ul>
</div>

<div class="indexImg-3"></div>

<div class="container justify-content-center mt-3" id="foot">
    <div class="row">
        <div class="col-lg-8 col-md-auto">
            <ul class="footlists">
                <li>
                    <i class="fas fa-home"></i> <a href="/" class="footlink">Home</a>
                </li>
                <li>
                    <i class="fas fa-code"></i> <a href="#" class="footlink">Web Development</a>
                </li>
                <li>
                    <i class="fas fa-pencil-ruler"></i> <a href="#" class="footlink">Graphic Design</a>
                </li>
                <li>
                    <i class="fas fa-address-card"></i> <a href="#" class="footlink">About</a>
                </li>
                <li>
                    <i class="fas fa-archive"></i> <a href="#" class="footlink">Resources</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-auto col-md-auto">
            <ul class="footlists">
                <li class="footitems">
                    <i class="far fa-envelope"></i> <a href="#" class="footlink">Contact</a>
                </li>
                <li>
                    <i class="fab fa-facebook-square"></i> <a href="https://www.facebook.com/Fonagy-Designs-LLC-599244820551058/" class="footlink" target="_blank">Like</a>
                </li>
                <li>
                    <i class="fab fa-instagram"></i> <a href="https://www.instagram.com/fonagydesigns/" class="footlink" target="_blank">Follow</a>
                </li>
                <li>
                    <i class="fab fa-twitter-square"></i> <a href="" class="footlink" target="_blank">Follow</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<% include ../partials/footer %>