<% include ./partials/header %>

<header>
    <img src="/images/FonagyDesignHeader.jpg">
</header>

<section class="container content-justify-center mt-5">
    <img src="/images/FonagyDesignIconPNGGreyNone.png" class="img-thumbnail" alt="Fonagy Designs Icon" id="index-thumb">
    <h1>Welcome to Fonagy Designs, LLC</h1>
    <p>
        Fonagy Designs, LLC, founded in 2019, has its headquarters located in Columbus, OH. The company develops and markets full stack web development, graphic design, logo design, branding development, social media marketing & SEO, print (business cards, postcards, and brochures), and also focuses on animation and media.
    </p>
</section>

<section class="indexImg-1"></section>

<section class="container content-justify-center mt-5">
    <h1>Designs for You</h1>
    <p>
        Our mission is to ensure the best relationship with our clients, both during and after their goals have been met. We strive to meet our customer's high standards with every custom project we create. We keep this in mind whether designing print media, producing multimedia content, or developing any level of web services.
    </p>
</section>

<section class="indexImg-2"></section>

<section class="container content-justify-center mt-5">
    <h1>Updates</h1>
    <ul class="updates">
        <li>
            <p>
                3/18/2019 - Site currently under development. Pages are still under construction.
            </p>
        </li>
    </ul>
</section>

<section class="indexImg-3"></section>

<section class="container content-justify-center mt-3" id="foot">
    <section class="row">
        <section class="col-sm">
            <ul class="footlists">
                <li>
                    <a href="/" class="footlink">Home</a>
                </li>
                <li>
                    <a href="#" class="footlink">About</a>
                </li>
                <li>
                    <a href="#" class="footlink">Resources</a>
                </li>
            </ul>
        </section>
        <section class="col-sm">
            <ul class="footlists">
                <li>
                    <a href="#" class="footlink">Web Development</a>
                    <ul class="footlists">
                        <li>
                            <a href="#" class="footlink">Production Sites</a>
                        </li>
                        <li>
                            <a href="#" class="footlink">Example Sites</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="footlink">Graphic Design</a>
                    <ul class="footlists">
                        <li>
                            <a href="#" class="footlink">Production Designs</a>
                        </li>
                        <li>
                            <a href="#" class="footlink">Example Designs</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="col-sm">
            <ul class="footlists">
                <li class="footitems">
                    <a href="#" class="footlink">Contact</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/Fonagy-Designs-LLC-599244820551058/" class="footlink"><i class="fab fa-facebook-square"></i> Like</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/fonagydesigns/" class="footlink"><i class="fab fa-instagram"></i> Follow</a>
                </li>
                <li>
                    <a href="" class="footlink"><i class="fab fa-twitter-square"></i> Follow</a>
                </li>
            </ul>
        </section>
    </section>
</section>

<% include ./partials/footer %>